.swiper {
	&-slide {
		width: 100%;
	}
	&-button-prev,
	&-button-next {
		width: 50px;
		height: 50px;
		transition: all 0.2s;
		background-color: #ffffff;
		transform: scale(1);
		opacity: 0.7;
		top: 600px;
		&:hover {
			background-color: #fff;
			transform: scale(1.1);
			opacity: 1;
		}

		@media (max-width: 767.98px) {
			display: none;
		}
	}
	&-button-prev {
		mask-image: url('../../icons/reshot-icon-arrow-chevron-left-975UQXVKZF.svg');
		mask-repeat: no-repeat;
		mask-size: contain;
		left: -50px;
	}
	&-button-next {
		mask-image: url('../../icons/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg');
		mask-repeat: no-repeat;
		mask-size: contain;
		right: -50px;
	}
	&-pagination {
		position: static;
		margin-bottom: 12px;
	}
	&-pagination-bullet {
		background: #4973ff;
		&-active {
		}
	}
}

.player {
	& .project__image {
		@media (max-width: 899.98px) {
			&:last-child {
				display: none;
			}
		}
	}
}
.store {
	margin-bottom: 200px;
	& .project__image {
		@media (max-width: 899.98px) {
			&:last-child {
				display: none;
			}
		}
	}
}
.chatgpt {
	& .project__flex-container {
	}
}
.project {
	position: relative;
	padding-top: 200px;
	padding-bottom: 50px;
	max-width: 1100px;
	margin: 0 auto;
	&__heading {
		text-align: center;
		margin-bottom: 50px;
	}

	&__container {
		overflow: hidden;
		width: calc(100% - 100px);
		margin: 0 auto;
		padding-bottom: 10px;
		@media (max-width: 899.98px) {
			width: calc(100% - 30px);
		}
	}
	&__title {
		font-weight: 500;
		font-size: 28px;
		margin-bottom: 24px;
		line-height: 150%;
	}

	&__about {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	&__images {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__image {
		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(4, 87, 126, 0.75);
		max-width: 300px;
		@media (max-width: 899.98px) {
			max-width: 100%;
		}
	}

	&__desc {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 26px;
		@media (max-width: 899.98px) {
			padding-right: 0;
		}
		// @media (max-width: 1399.98px) {
		//     display: flex;
		//     flex-direction: column;
		//     flex: 1 1 65%;
		// }
		// @media (max-width: 991.98px) {
		//     padding-right: 0;
		//     order: 1;
		// }
	}

	&__about-text {
		text-align: justify;
	}

	&__list-container {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 24px;
		@media (max-width: 899.98px) {
			width: 100%;
		}
	}

	&__flex-container {
		display: flex;
		gap: 20px;
		margin-top: 50px;
		justify-content: space-between;
		@media (max-width: 899.98px) {
			flex-direction: column;
			align-items: flex-start;
			gap: 0;
		}
	}

	&__list {
	}

	&__list-title {
		font-weight: 500;
		margin-bottom: 24px;
		line-height: 150%;
	}

	&__list-item {
		font-size: 18px;
		font-weight: 300;
		position: relative;
		padding-left: 12px;
		& > span {
			white-space: nowrap;
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			width: 5px;
			height: 5px;
			background: #fff;
		}
		&:not(:first-child) {
			margin-top: 10px;
		}
	}

	&__e-shop-link {
		@media (max-width: 899.98px) {
			margin: 50px 0 50px;
		}
	}

	&__links {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
		color: #ffffff;
		font-weight: 500;
		gap: 50px;
		@media (max-width: 575.98px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__other {
		text-align: right;
		margin-top: 50px;
	}

	&__other-link {
		font-size: 20px;
		line-height: 150%;
		font-weight: 500;
	}
}
